@model IEnumerable<DogWalkerMVC.Models.ViewModels.NeighborhoodBreakdown>

@{
    ViewData["Title"] = "Index";
}
    <div class="neighborhoodHeader">
        <div class="neighborhoodTitle">
        <h1>Neighborhoods</h1>
        </div>
        <div class="btn btn-secondary btn-lg createButton">
                <a asp-action="Create">Add</a>

        </div>
    </div>

<table class="table NeighborhoodTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkerCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="neighborhoodRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkerCount)
            </td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@item.Id">

                    <img src="~/Icons/edit.svg" />
                </a>
            </td>
        </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
